.green-dark {
	.color-scheme(@text-box-color, @border-box);
}
.red {
	.color-scheme(@red-color, @border-box);
}
.blue {
	.color-scheme(@blue-color, @border-box);
}
.orange {
	.color-scheme(@orange-color, @border-box);
}
.violet {
	.color-scheme(@violet-color, @border-box);
}
.blue-sky-deep {
	.color-scheme(@blue-sky-deep, @border-box);
}
.sapphire {
	.color-scheme(@sapphire-color, @border-box);
}