.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.left {
  float: left;
}
.left {
  float: right;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-times-outline:before {
  content: "\e600";
}
.icon-plus-outline:before {
  content: "\e601";
}
.icon-minus-outline:before {
  content: "\e602";
}
.icon-tick-outline:before {
  content: "\e603";
}
.icon-th-large-outline:before {
  content: "\e604";
}
.icon-equals-outline:before {
  content: "\e605";
}
.icon-divide-outline:before {
  content: "\e606";
}
.icon-chevron-right-outline:before {
  content: "\e607";
}
.icon-chevron-left-outline:before {
  content: "\e608";
}
.icon-arrow-right-outline:before {
  content: "\e609";
}
.icon-arrow-left-outline:before {
  content: "\e60a";
}
.icon-th-small-outline:before {
  content: "\e60b";
}
.icon-th-menu-outline:before {
  content: "\e60c";
}
.icon-th-list-outline:before {
  content: "\e60d";
}
.icon-news:before {
  content: "\e60e";
}
.icon-home-outline:before {
  content: "\e60f";
}
.icon-arrow-up-outline:before {
  content: "\e610";
}
.icon-arrow-forward-outline:before {
  content: "\e611";
}
.icon-arrow-down-outline:before {
  content: "\e612";
}
.icon-arrow-back-outline:before {
  content: "\e613";
}
.icon-trash:before {
  content: "\e614";
}
.icon-rss-outline:before {
  content: "\e615";
}
.icon-message:before {
  content: "\e616";
}
.icon-location-outline:before {
  content: "\e617";
}
.icon-link-outline:before {
  content: "\e618";
}
.icon-image-outline:before {
  content: "\e619";
}
.icon-export-outline:before {
  content: "\e61a";
}
.icon-cross:before {
  content: "\e61b";
}
.icon-wi-fi-outline:before {
  content: "\e61c";
}
.icon-star-outline:before {
  content: "\e61d";
}
.icon-media-pause-outline:before {
  content: "\e61e";
}
.icon-mail:before {
  content: "\e61f";
}
.icon-heart-outline:before {
  content: "\e620";
}
.icon-flash-outline:before {
  content: "\e621";
}
.icon-cancel-outline:before {
  content: "\e622";
}
.icon-beaker:before {
  content: "\e623";
}
.icon-arrow-move-outline:before {
  content: "\e624";
}
.icon-watch:before {
  content: "\e625";
}
.icon-warning-outline:before {
  content: "\e626";
}
.icon-time:before {
  content: "\e627";
}
.icon-radar-outline:before {
  content: "\e628";
}
.icon-lock-open-outline:before {
  content: "\e629";
}
.icon-location-arrow-outline:before {
  content: "\e62a";
}
.icon-info-outline:before {
  content: "\e62b";
}
.icon-backspace-outline:before {
  content: "\e62c";
}
.icon-attachment-outline:before {
  content: "\e62d";
}
.icon-user-outline:before {
  content: "\e62e";
}
.icon-user-delete-outline:before {
  content: "\e62f";
}
.icon-user-add-outline:before {
  content: "\e630";
}
.icon-lock-closed-outline:before {
  content: "\e631";
}
.icon-group-outline:before {
  content: "\e632";
}
.icon-chart-pie-outline:before {
  content: "\e633";
}
.icon-chart-line-outline:before {
  content: "\e634";
}
.icon-chart-bar-outline:before {
  content: "\e635";
}
.icon-chart-area-outline:before {
  content: "\e636";
}
.icon-video-outline:before {
  content: "\e637";
}
.icon-point-of-interest-outline:before {
  content: "\e638";
}
.icon-map:before {
  content: "\e639";
}
.icon-key-outline:before {
  content: "\e63a";
}
.icon-infinity-outline:before {
  content: "\e63b";
}
.icon-globe-outline:before {
  content: "\e63c";
}
.icon-eye-outline:before {
  content: "\e63d";
}
.icon-cog-outline:before {
  content: "\e63e";
}
.icon-camera-outline:before {
  content: "\e63f";
}
.icon-upload-outline:before {
  content: "\e640";
}
.icon-support:before {
  content: "\e641";
}
.icon-scissors-outline:before {
  content: "\e642";
}
.icon-refresh-outline:before {
  content: "\e643";
}
.icon-info-large-outline:before {
  content: "\e644";
}
.icon-eject-outline:before {
  content: "\e645";
}
.icon-download-outline:before {
  content: "\e646";
}
.icon-battery-mid:before {
  content: "\e647";
}
.icon-battery-low:before {
  content: "\e648";
}
.icon-battery-high:before {
  content: "\e649";
}
.icon-zoom-outline:before {
  content: "\e64a";
}
.icon-zoom-out-outline:before {
  content: "\e64b";
}
.icon-zoom-in-outline:before {
  content: "\e64c";
}
.icon-tag:before {
  content: "\e64d";
}
.icon-tabs-outline:before {
  content: "\e64e";
}
.icon-thumbs-up:before {
  content: "\e64f";
}
.icon-brush:before {
  content: "\e650";
}
.icon-document-add:before {
  content: "\e651";
}
.icon-document-delete:before {
  content: "\e652";
}
.icon-document:before {
  content: "\e653";
}
.icon-edit:before {
  content: "\e654";
}
.icon-folder-add:before {
  content: "\e655";
}
.icon-folder-delete:before {
  content: "\e656";
}
.icon-folder:before {
  content: "\e657";
}
.icon-pencil:before {
  content: "\e658";
}
.icon-pipette:before {
  content: "\e659";
}
.icon-battery-charge:before {
  content: "\e65a";
}
.icon-battery-full:before {
  content: "\e65b";
}
.icon-pin-outline:before {
  content: "\e65c";
}
.icon-message-typing:before {
  content: "\e65d";
}
.icon-directions:before {
  content: "\e65e";
}
.icon-thumbs-down:before {
  content: "\e65f";
}
.icon-pen:before {
  content: "\e660";
}
.icon-sort-numerically-outline:before {
  content: "\e661";
}
.icon-sort-alphabetically-outline:before {
  content: "\e662";
}
.icon-social-last-fm-circular:before {
  content: "\e663";
}
.icon-social-github-circular:before {
  content: "\e664";
}
.icon-compass:before {
  content: "\e665";
}
.icon-bookmark:before {
  content: "\e666";
}
.icon-input-checked-outline:before {
  content: "\e667";
}
.icon-code-outline:before {
  content: "\e668";
}
.icon-calender-outline:before {
  content: "\e669";
}
.icon-business-card:before {
  content: "\e66a";
}
.icon-arrow-up:before {
  content: "\e66b";
}
.icon-arrow-sync-outline:before {
  content: "\e66c";
}
.icon-arrow-right:before {
  content: "\e66d";
}
.icon-arrow-repeat-outline:before {
  content: "\e66e";
}
.icon-anchor-outline:before {
  content: "\e66f";
}
.icon-bell:before {
  content: "\e670";
}
.icon-database:before {
  content: "\e671";
}
.icon-film:before {
  content: "\e672";
}
.icon-gift:before {
  content: "\e673";
}
.icon-arrow-maximise-outline:before {
  content: "\e674";
}
.icon-arrow-down:before {
  content: "\e675";
}
.icon-arrow-minimise-outline:before {
  content: "\e676";
}
.icon-calculator:before {
  content: "\e677";
}
.icon-clipboard:before {
  content: "\e678";
}
.icon-document-text:before {
  content: "\e679";
}
.icon-flow-merge:before {
  content: "\e67a";
}
.icon-flow-parallel:before {
  content: "\e67b";
}
.icon-flow-switch:before {
  content: "\e67c";
}
.icon-arrow-left:before {
  content: "\e67d";
}
.icon-arrow-loop-outline:before {
  content: "\e67e";
}
.icon-adjust-contrast:before {
  content: "\e67f";
}
.icon-world-outline:before {
  content: "\e680";
}
.icon-shopping-bag:before {
  content: "\e681";
}
.icon-power-outline:before {
  content: "\e682";
}
.icon-notes-outline:before {
  content: "\e683";
}
.icon-device-tablet:before {
  content: "\e684";
}
.icon-device-phone:before {
  content: "\e685";
}
.icon-device-laptop:before {
  content: "\e686";
}
.icon-device-desktop:before {
  content: "\e687";
}
.icon-briefcase:before {
  content: "\e688";
}
.icon-stopwatch:before {
  content: "\e689";
}
.icon-spanner-outline:before {
  content: "\e68a";
}
.icon-puzzle-outline:before {
  content: "\e68b";
}
.icon-printer:before {
  content: "\e68c";
}
.icon-pi-outline:before {
  content: "\e68d";
}
.icon-lightbulb:before {
  content: "\e68e";
}
.icon-weather-night:before {
  content: "\e68f";
}
.icon-weather-snow:before {
  content: "\e690";
}
.icon-weather-sunny:before {
  content: "\e691";
}
.icon-weather-windy:before {
  content: "\e692";
}
.icon-weather-windy-cloudy:before {
  content: "\e693";
}
.icon-microphone-outline:before {
  content: "\e694";
}
.icon-phone-outline:before {
  content: "\e695";
}
.icon-plane-outline:before {
  content: "\e696";
}
.icon-weather-cloudy:before {
  content: "\e697";
}
.icon-weather-downpour:before {
  content: "\e698";
}
.icon-weather-partly-sunny:before {
  content: "\e699";
}
.icon-weather-shower:before {
  content: "\e69a";
}
.icon-weather-stormy:before {
  content: "\e69b";
}
.icon-archive:before {
  content: "\e69c";
}
.icon-contacts:before {
  content: "\e69d";
}
.icon-flag-outline:before {
  content: "\e69e";
}
.icon-media-stop-outline:before {
  content: "\e69f";
}
.icon-media-rewind-outline:before {
  content: "\e6a0";
}
.icon-media-record-outline:before {
  content: "\e6a1";
}
.icon-media-play-outline:before {
  content: "\e6a2";
}
.icon-media-fast-forward-outline:before {
  content: "\e6a3";
}
.icon-media-eject-outline:before {
  content: "\e6a4";
}
.icon-wine:before {
  content: "\e6a5";
}
.icon-waves-outline:before {
  content: "\e6a6";
}
.icon-ticket:before {
  content: "\e6a7";
}
.icon-tags:before {
  content: "\e6a8";
}
.icon-plug:before {
  content: "\e6a9";
}
.icon-headphones:before {
  content: "\e6aa";
}
.icon-credit-card:before {
  content: "\e6ab";
}
.icon-coffee:before {
  content: "\e6ac";
}
.icon-book:before {
  content: "\e6ad";
}
.icon-beer:before {
  content: "\e6ae";
}
.icon-social-at-circular:before {
  content: "\e6af";
}
.icon-social-skype-outline:before {
  content: "\e6b0";
}
.icon-social-flickr-circular:before {
  content: "\e6b1";
}
.icon-social-tumbler-circular:before {
  content: "\e6b2";
}
.icon-thermometer:before {
  content: "\e6b3";
}
.icon-tree:before {
  content: "\e6b4";
}
.icon-social-dribbble-circular:before {
  content: "\e6b5";
}
.icon-social-facebook-circular:before {
  content: "\e6b6";
}
.icon-social-linkedin-circular:before {
  content: "\e6b7";
}
.icon-social-pinterest-circular:before {
  content: "\e6b8";
}
.icon-social-twitter-circular:before {
  content: "\e6b9";
}
.icon-social-vimeo-circular:before {
  content: "\e6ba";
}
.icon-volume-down:before {
  content: "\e6bb";
}
.icon-volume-mute:before {
  content: "\e6bc";
}
.icon-volume-up:before {
  content: "\e6bd";
}
.icon-volume:before {
  content: "\e6be";
}
.icon-shopping-cart:before {
  content: "\e6bf";
}
.icon-messages:before {
  content: "\e6c0";
}
.icon-leaf:before {
  content: "\e6c1";
}
.icon-feather:before {
  content: "\e6c2";
}
#theme-options #menu,
#theme-options #menu ul,
#theme-options #menu li {
  margin: 0;
  padding: 0;
}
#theme-options #menu a {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.35);
  display: block;
  outline: none;
  font-size: 13px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  height: 40px;
  padding: 5px 15px;
  transition: 0.2s;
}
#theme-options #menu > li:hover > a {
  padding-left: 12px;
}
#theme-options #menu > li.active:hover > a {
  padding-left: 15px;
}
#theme-options #menu > li.active {
  background-color: #30333a;
}
#theme-options #menu > li.active,
#theme-options #menu > li:hover {
  border-left: 4px solid #ffba00;
}
#theme-options #menu ul {
  display: none;
  position: relative;
}
#theme-options #menu ul a {
  color: #ababab;
  padding: 0 15px;
}
#theme-options #menu ul .active a,
#theme-options #menu ul li:hover a {
  color: #ffba00;
}
#theme-options .menu-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  float: left;
  margin: 12px 15px 0 0;
}
#theme-options .section > .field {
  clear: left;
  padding-top: 20px;
}
#theme-options .field > .input {
  margin-left: 190px;
}
#theme-options .field .field .label {
  float: none;
  width: auto;
}
#theme-options .field .field .input {
  margin-left: 0;
}
#theme-options .label {
  display: block;
  padding: 0 20px 0 0;
  float: left;
  width: 170px;
}
#theme-options .label label {
  display: block;
  font-weight: bold;
}
#theme-options .desc {
  font-size: 11px;
  color: #999;
  margin-top: 5px;
  margin-bottom: 10px;
}
#theme-options .suffix {
  padding-right: 7px;
  font-size: 11px;
  line-height: 35px;
}
#theme-options .field-divider .input {
  margin: 0;
}
#theme-options input[type="text"],
#theme-options input[type="number"],
#theme-options input[type="email"],
#theme-options select,
#theme-options textarea {
  border: none;
  padding: 6px;
  border-radius: 2px;
  width: 150px;
  margin: 0 5px 0 0;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
#theme-options input[type="text"].input-mini,
#theme-options input[type="number"].input-mini,
#theme-options input[type="email"].input-mini,
#theme-options select.input-mini,
#theme-options textarea.input-mini {
  width: 60px;
}
#theme-options input[type="text"].input-small,
#theme-options input[type="number"].input-small,
#theme-options input[type="email"].input-small,
#theme-options select.input-small,
#theme-options textarea.input-small {
  width: 150px;
}
#theme-options input[type="text"].input-medium,
#theme-options input[type="number"].input-medium,
#theme-options input[type="email"].input-medium,
#theme-options select.input-medium,
#theme-options textarea.input-medium {
  width: 250px;
}
#theme-options input[type="text"].input-large,
#theme-options input[type="number"].input-large,
#theme-options input[type="email"].input-large,
#theme-options select.input-large,
#theme-options textarea.input-large {
  width: 350px;
}
#theme-options input[type="text"].input-xlarge,
#theme-options input[type="number"].input-xlarge,
#theme-options input[type="email"].input-xlarge,
#theme-options select.input-xlarge,
#theme-options textarea.input-xlarge {
  width: 450px;
}
#theme-options input[type="text"].input-xxlarge,
#theme-options input[type="number"].input-xxlarge,
#theme-options input[type="email"].input-xxlarge,
#theme-options select.input-xxlarge,
#theme-options textarea.input-xxlarge {
  width: 99%;
}
#theme-options input[type="text"],
#theme-options input[type="number"],
#theme-options input[type="email"],
#theme-options select {
  height: 35px;
}
#theme-options select {
  padding-top: 8px;
}
#theme-options .button:not(.button-small) {
  height: 35px;
  min-width: 35px;
  padding: 0 20px;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 35px;
  background: #43d096;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
#theme-options .button:not(.button-small):hover,
#theme-options .button:not(.button-small).active,
#theme-options .button:not(.button-small).active:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: none;
}
#theme-options .button:not(.button-small):active {
  box-shadow: none;
}
#theme-options .button:not(.button-small).import-options {
  margin-top: 10px;
}
#theme-options .button:not(.button-small).reset-options,
#theme-options .button:not(.button-small).delete,
#theme-options .button:not(.button-small).remove {
  background: #525459;
}
#theme-options .button-select {
  border-radius: 0 3px 3px 0;
}
#theme-options .button-clear {
  background: #c8cccd;
  color: #fff;
  margin-left: 10px;
}
#theme-options .field-media input {
  border-radius: 2px 0 0 2px;
}
#theme-options .field-media .button-select {
  border-radius: 0 2px 2px 0;
}
#theme-options .button-group {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
#theme-options .button-group .button {
  text-shadow: 0 1px 1px #fff;
  color: #484848;
  margin-right: 0;
  margin-left: 0;
  border-right: 1px solid #e6e6e6;
  border-left-width: 0;
  border-radius: 0;
  background: #ebebeb url(../img/gradient.png) repeat-x 0 0;
}
#theme-options .button-group .button:last-child {
  border-right-width: 0;
  border-radius: 0 2px 2px 0;
}
#theme-options .button-group .button:first-child {
  border-radius: 2px 0 0 2px;
}
#theme-options .button-group .button:hover {
  color: #484848;
}
#theme-options .button-group .button.active {
  background: #43d096;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#theme-options .button-group .button.active:hover {
  border-right: 1px solid #e6e6e6;
}
#theme-options .button-group label input {
  display: none;
}
#theme-options .field-image_toggle img {
  border: 3px solid #f0f0f0;
}
#theme-options .field-image_toggle .active img {
  border-color: #43d096;
}
#theme-options .field-image_toggle label input {
  display: none;
}
#theme-options .horizontal > label,
#theme-options .horizontal > div {
  display: inline-block;
  margin: 0 5px 10px 0;
  vertical-align: top;
}
#theme-options .vertical > label {
  display: block;
  margin-bottom: 10px;
}
#theme-options .field-font .label_desc {
  display: block;
}
#theme-options .field-font select {
  width: auto;
}
#theme-options .wp-picker-container {
  border-radius: 2px;
  position: relative;
  border: 1px solid #e8e8e8;
}
#theme-options .wp-picker-input-wrap,
#theme-options .wp-picker-holder {
  position: absolute;
  z-index: 99;
  left: 0;
}
#theme-options .wp-picker-input-wrap {
  top: 40px;
  display: block;
  width: 200px;
}
#theme-options .wp-picker-input-wrap input[type="text"] {
  width: 60px;
}
#theme-options .wp-picker-holder {
  top: 75px;
}
#theme-options .wp-color-result {
  border: none;
  box-sizing: border-box;
  height: 35px;
  outline: none;
  top: 0;
  margin: 0;
  box-shadow: none;
}
#theme-options .wp-color-result:after {
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  border-color: #e8e8e8;
}
#theme-options .social-icon {
  height: 50px;
  margin: 0 10px 30px 0;
  position: relative;
}
#theme-options .social-icon .icon50 {
  background: url(../img/social-icons.png) no-repeat;
  opacity: 0.3;
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 2px;
}
#theme-options .social-icon .icon50.active {
  opacity: 1;
}
#theme-options .social-icon .icon-twitter {
  background-position: -50px 0;
}
#theme-options .social-icon .icon-flickr {
  background-position: -100px 0;
}
#theme-options .social-icon .icon-vimeo {
  background-position: -150px 0;
}
#theme-options .social-icon .icon-google {
  background-position: -200px 0;
}
#theme-options .social-icon .icon-linkedin {
  background-position: -250px 0;
}
#theme-options .social-icon .icon-pinterest {
  background-position: -300px 0;
}
#theme-options .social-icon .icon-skype {
  background-position: -350px 0;
}
#theme-options .social-icon .icon-yahoo {
  background-position: -400px 0;
}
#theme-options .social-icon .icon-reverbnation {
  background-position: -450px 0;
}
#theme-options .social-icon .icon-youtube {
  background-position: 0 -50px;
}
#theme-options .social-icon .icon-behance {
  background-position: -50px -50px;
}
#theme-options .social-icon .icon-dribbble {
  background-position: -100px -50px;
}
#theme-options .social-icon .icon-deviantart {
  background-position: -150px -50px;
}
#theme-options .social-icon .icon-soundcloud {
  background-position: -200px -50px;
}
#theme-options .social-icon .icon-github {
  background-position: -250px -50px;
}
#theme-options .social-icon .icon-instagram {
  background-position: -300px -50px;
}
#theme-options .social-icon .icon-myspace {
  background-position: -350px -50px;
}
#theme-options .social-icon .icon-tumblr {
  background-position: -400px -50px;
}
#theme-options .social-icon .field {
  margin: 0 0 0 70px;
}
#theme-options .social-icon .field.active {
  display: block;
}
#theme-options .social-icon .field .label label {
  margin-bottom: 0;
}
#theme-options .social-icon input {
  border: 1px solid #ddd;
}
#theme-options .field-preview .input {
  background: #fff;
}
#theme-options .switcher {
  transition: background 0.2s;
  border-radius: 16px 16px 20px 20px;
  width: 73px;
  height: 34px;
  display: inline-block;
  zoom: 1;
  background: url(../img/switcher.png) no-repeat 100% 0;
}
#theme-options .switcher.on {
  background-position: 0 0;
}
#theme-options .switcher input[type=checkbox] {
  display: none;
}
#theme-options .color-scheme {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
  opacity: .3;
}
#theme-options .color-scheme input {
  display: none;
}
#theme-options .color-scheme:hover,
#theme-options .color-scheme.active {
  opacity: 1;
}
#theme-options .color-scheme.rosy {
  background: #f16c7c;
}
#theme-options .color-scheme.pink {
  background: #ff0084;
}
#theme-options .color-scheme.pink-dark {
  background: #e22092;
}
#theme-options .color-scheme.red {
  background: #af1111;
}
#theme-options .color-scheme.magenta {
  background: #a9014b;
}
#theme-options .color-scheme.orange {
  background: #ff8800;
}
#theme-options .color-scheme.orange-dark {
  background: #dd4b39;
}
#theme-options .color-scheme.yellow {
  background: #ffb515;
}
#theme-options .color-scheme.green-dark {
  background: #495745;
}
#theme-options .color-scheme.green-light {
  background: #91bd09;
}
#theme-options .color-scheme.green-lime {
  background: #32cd32;
}
#theme-options .color-scheme.green {
  background: #238f23;
}
#theme-options .color-scheme.blue {
  background: #1145af;
}
#theme-options .color-scheme.blue-dark {
  background: #3b5998;
}
#theme-options .color-scheme.blue-sky-deep {
  background: #00a99d;
}
#theme-options .color-scheme.sapphire {
  background: #282666;
}
#theme-options .color-scheme.indigo {
  background: #4b0082;
}
#theme-options .color-scheme.violet {
  background: #87189b;
}
#theme-options .color-scheme.cappuccino {
  background: #af8e45;
}
#theme-options .color-scheme.brown {
  background: #b77b48;
}
#theme-options .color-scheme.brown-dark {
  background: #7a5230;
}
#theme-options .color-scheme.gray {
  background: #cccccc;
}
#theme-options .color-scheme.gray-dark {
  background: #666666;
}
#theme-options .color-scheme.black {
  background: #333333;
}
#theme-options .color-scheme.white {
  background: #ffffff;
}
#theme-options .field-image img {
  display: block;
  margin-top: 5px;
  max-width: 100%;
}
#theme-options .field-box .input {
  margin: 0;
}
#theme-options .field-box .alert {
  background: #fff;
  border-left: 4px solid #ffba00;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 0;
}
#theme-options .field-box .alert.success {
  border-color: #7ad03a;
}
#theme-options .field-box .alert.error {
  border-color: #dd3d36;
}
#theme-options .field-box .alert.info {
  border-color: #2ea2cc;
}
#theme-options .wp-switch-editor {
  margin-top: 11px;
}
#theme-options .wp-editor-area {
  width: 100%;
}
#adminmenuback {
  z-index: 0;
}
#wpwrap {
  background: url(../img/bg.jpg) center top;
}
#theme-options {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  margin: 60px 20px 20px 20px;
  position: relative;
}
#theme-options #menuback {
  border-radius: 3px 0 0 3px;
  width: 220px;
  position: absolute;
  bottom: 0;
  top: 0;
  background: #25272d url(../img/menubg.gif);
}
#theme-options #menu {
  width: 220px;
  padding: 80px 0 20px 0;
  float: left;
  list-style: none;
  position: relative;
}
#theme-options #content {
  margin-left: 220px;
  position: relative;
}
#theme-options #overlay {
  background: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#theme-options #indicator {
  background: #ffffff url(../img/indicator.gif) no-repeat center center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  border-radius: 10px;
}
#theme-options .ajax-processing {
  float: right;
  width: 20px;
  height: 30px;
  margin-right: 10px;
  background: url(../img/loading.GIF) no-repeat center center;
  display: none;
}
#theme-options .ajax-processing.left {
  float: left;
  margin-left: 10px;
}
#theme-options .options-header {
  padding: 15px 0 0 15px;
}
#theme-options .options-header h1 {
  color: #373737;
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin: 0 5px 5px 0;
}
#theme-options .options-header .version {
  color: #cacaca;
  font-size: 11px;
}
#theme-options .options-header .links {
  color: #858585;
  font-size: 12px;
}
#theme-options .options-header .links a,
#theme-options .options-header .links a:visited {
  color: #858585;
  text-decoration: none;
}
#theme-options .options-header .links a:hover {
  text-decoration: underline;
}
#theme-options .section {
  box-sizing: border-box;
  padding: 5px 25px 25px;
  margin-bottom: 60px;
  display: none;
  float: left;
  width: 100%;
}
#theme-options .section.active {
  display: block;
}
#theme-options .toolbar {
  border-radius: 0 5px 0 0;
  height: 60px;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  background-color: #fafafa;
  position: relative;
}
#theme-options .toolbar.bottom {
  border-radius: 0;
  border-top: 1px solid #dedede;
  border-bottom: none;
  background: none;
  padding: 15px 0;
  margin: 0 20px;
  overflow: hidden;
  clear: both;
}
#theme-options .toolbar .button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 15px 0 0;
}
#theme-options .toolbar .save-options,
#theme-options .toolbar .reset-options {
  float: right;
}
#theme-options .toolbar .ajax-processing {
  margin-top: 15px;
}
